@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>Yhteystiedot</h2>
<h3></h3>

<address>
    Point College <br />
    Mannerheiminkatu 20 <br />
    06100 Porvoo <br />
    <abbr title="Phone">P:</abbr>
    (019)529 9200
</address>

<address>
    <strong>Toimisto:</strong>   <a href="mailto:info@pointcollege.fi">info@pointcollege.fi</a><br />
    <strong>Aikuiskoulutus:</strong> <a href="mailto:aikuiskoulutus@pointcollege.fi">aikuiskoulutus@pointcollege.fi</a>
</address>