@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Pointteri</h1>
    <img src="~/Pictures/Kannettava.jpg" />
    <p>Tietokone- ja laitehallinta järjestelmä  </p>

   
    <a href="/Laitteets" class="btn btn-primary btn-lg" style="width:160px;">Laitteet</a>
    <a href="/MuokkaaLaitetta" class="btn btn-primary btn-lg" style="width:160px;">Muokkaa Laitetta</a>
    <a href="/Poista" class="btn btn-primary btn-lg" style="width:160px;" >Poista laite</a>
    <a href="/Status" class="btn btn-primary btn-lg" style="width:160px;">Status</a>
    <a href="/Sijaintis" class="btn btn-primary btn-lg" style="width:160px;">Sijainti</a>
    <a href="/Varustes" class="btn btn-primary btn-lg" style="width:160px;">Varusteet</a>
    <a href="~/Eri_laitteiden_kayttoohjeita.html" class="btn btn-primary btn-lg" style="width:160px;">Lataa käyttöohje</a>
    <a href="/LisaaLaite" class="btn btn-primary btn-lg" style="width:160px;">Lisää uusi laite</a>
       
</div>


