@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pointteri</h1>
    <p>Tietokone- ja laitehallinta järjestelmä  </p>
      
    <a href="/Laitteets" class="btn btn-primary btn-lg">Laitteet</a>
    <a href="" class="btn btn-primary btn-lg">Muokkaa</a>
    <a href="/Poista" class="btn btn-primary btn-lg">Poista laite</a>
    <a href="/Status" class="btn btn-primary btn-lg">Status</a>
    <a href="/Sijaintis" class="btn btn-primary btn-lg">Sijainti</a>
    <a href="/Varusteet" class="btn btn-primary btn-lg">Varusteet</a>
    <a href="~/Eri_laitteiden_kayttoohjeita.html" class="btn btn-primary btn-lg">Lataa käyttöohje</a>
    <a href="" class="btn btn-primary btn-lg">Lisää uusi laite</a>
       
</div>


